<div id="footer">
<a href = '/'> Home</a>
<a href = '/resume'> Resume</a>
<a href = '/thingsilike'> Things I Like</a>
<a href = '/drinks'> Y'alls Favorite Drinks</a>
<a href = '/blog'> Blog</a>

</div>
