<h2>Well, what the hell is going on?</h2>
<p>3/4/24-Today I have learned that coding sucks. I made two games from
  tutorials and both are terrible. I'm scrapping them both. RIP games and hours
  of my life wasted.</p>