
   <div id="home">
    <h1><i><b>I'm just coding!...get it?...coding...kidding...waka waka waka</b></i></h1>
<br>
    <p>This is my journey being me, being old, and still learning! I have taken up leaning HTML, CSS, and JavaScript. It's not easy, but it's a little fun.</p>
    <p>This website will prove my awesomness.  At the least it will dazzle and entertain. At the very least, it exists.</p>
<br>
<br>
   </div>
<div class="flexy">
<div class="polaroid">
  <img src="pictures/Aswan.jpg" alt="Aswan, Egypt" style="width:100%">
  <div class="container">
  <p>Aswan</p>
  </div>
</div>

<div class="polaroid">
  <img src="pictures/meandmylove.jpg" alt="Me and My Love" style="width:100%">
  <div class="container">
  <p>Me and My Love</p>
  </div>
</div>

<div class="polaroid">
  <img src="pictures/efftower.jpg" alt="Paris, France" style="width:100%">
  <div class="container">
  <p>Eiffel Tower</p>
  </div>
</div>
</div>

      {{!-- <h2>Places I have traveled</h2>
      <p> England, Spain, Portugal, Azores, France, Italy, Morocco, 
        Egypt, Mexico, Jamaica, Puerto Rico, Grand Cayman, Belize, 
        Honduras, St. Croix, Canada, Greece, Germany, Belgium, Netherlands,
        Denmark, Finland, Iceland, Ireland, Scotland, Orkney Islands, Sweden,
        Norway, Turkey, Czechnia, Dominican Republic, St. Lucia, Barbados,
        Antigua, Guadaloup, Tortola.</p> --}}
   
   
  
    