<br>
<h4>I am currently seeking direction in my professional journey that helps grow my proficiency in administration and
passion for customer service. Additionally, I have been taking steps in learning how to code, and how to create.  One day I hope
to marry these ideas and interests into one super cool career.</h4>
<br>


<h1>Ameena Phillips</h1>
<h2>Customer Service Oriented</h2>
<h3>Prosper, TX 75078
<br>
<p>Willing to relocate: Anywhere</p>
<br>
<h3>Work Experience</h3>
<p><b>Office Coordinator</b>
<br>
<b>Peak Physical Therapy - Celina, TX</b>
<i>July 2019 to Present</i>
<ul>
• Patient account management
<br>
• Insurance verification and authorization
<br>
• Processing Payments
<br>
• General office management and set up
</ul></p>

<p><b>Office Manager</b>
<br>
<b>ANI Consulting</b>
<i>June 2020 to November 2022</i>
<ul>
• Tax filing
<br>
• Invoice creation and management
<br>
• Extensive use of Wave Management system and Adobe Acrobat
<br>
• Support for our Senior Software Developer
</ul></p>

<p><b>Substitute Teacher</b>
<br>
<b>Prosper ISD</b>
<i>January 2018 to December 2019</i>
<ul>
• All grades
<br>
• Complete lesson plans and written instruction
<br>
• Staff support
<br>
• SPED experience
</ul>
</p>
<p><b>Sales Administrator</b>
<br>
<b>True Health Diagnostics - Frisco, TX</b>
<i>January 2015 to October 2015</i>
<ul>
• Sales support for 9+ laboratory field sales reps.
<br>
• Responsible for over 200 doctors and clinics.
<br>
• Results reporting and troubleshooting
<br>
• Order/reorder supplies, logistics
<br>
• Conflict Resolution
</ul></p>
<p><b>Front Desk Agent</b>
<b>Homewood Suites - Frisco, TX</b>
<i>February 2013 to January 2015</i>
<ul>
• Guest check in/out and conflict resolution.
<br>
• MOD.
<br>
• Group preparations.
<br>
• Room balance and inventory.
</ul></p>
<h3>Education</h3>
<b>BA Business and Sociology</b>
<b>Texas Woman's University</b>
<br>
<i>Graduated 2014</i>
<br>
<br>
<b>Vocational Nursing in Nursing</b>
<b>Maric College</b>
<br>
<i>License held from 2006-2012</i>

<h3>Skills</h3>
<p>• HTML
• CSS <br>
• JavaScript<br>
• Customer Service (10+ years)<br>
• Hospitality (8 years)<br>
• Sales Support (5 years)<br>
• Management Skills (2 years)<br>
• Administrative Assistant (3 years)<br>
• Scheduling (10+ years)<br>
• Insurance Verification<br>
• CRM and POS systems<br>
• Medical terminology<br>
• Microsoft Office<br>
• Property management<br>
• Adobe Acrobat</p>
