<div class="center">
<h2>Stuff and Things. Some stuff, a few things.</h2>
   
    <p>Here's a picture of Vegeta from Dragon Ball Z. It is probably my favorite series. Like all of them Dragon Ball, GT, Kai, Super...and Vegeta is &#128525</p>
      <tr>  
<img class="circle" src="https://static1.cbrimages.com/wordpress/wp-content/uploads/2023/07/dragon-ball-z-vegeta-s-losses-only-made-him-a-better-character.jpg?q=50&fit=contain&w=943&h=&dpr=1.5">

    <p>I also really enjoy playing Pokemon Go! Let's be friends! Trainer Code: 757206551752  &#128241</p>
      <tr>
<img class="circle" src="https://cdn.vox-cdn.com/thumbor/vzlbTiXm-OLrUkGPTmZF8cm4xL4=/0x0:1918x1078/1520x1013/filters:focal(806x386:1112x692):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/72644229/GameCapture_2023_09_13_15_37_19.0.jpg"> 

    <p>My cliche'd favorite show.  Like would you expect ANYTHING else.</p>
    <tr>
<img class="circle" src="https://media.gq.com/photos/5a53e9fca929253c4d20a04f/16:9/w_2240,c_limit/does-the-office-hold-up-gq.jpg">
</div>
<br>
